<mat-card>

  <mat-toolbar color="primary">
    Dados do Lançamento
  </mat-toolbar>

  <mat-card-content>
    <form [formGroup]="form" class="min-width">
      <mat-form-field class="full-width">
        <input matInput placeholder="Descrição" formControlName="description" #description>
        <mat-hint align="end">{{description.value.length || 0}}/200</mat-hint>
        @if (form.get('description')?.invalid) {
          <mat-error>{{errorMessage('description')}}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="category">
          <mat-option value="null"> </mat-option>
          <mat-option value="notafiscal">Nota fiscal</mat-option>
          <mat-option value="holerite">Holerite</mat-option>
          <mat-option value="recibo">Recibo</mat-option>
          <mat-option value="rescisao">Rescisão</mat-option>
          <mat-option value="guiapagamento">Guia de pagamento</mat-option>
          <mat-option value="boleto">Boleto</mat-option>
          <mat-option value="debitoautomatico">Débito automático</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Chave de acesso da NF-e" formControlName="invoiceAccessKey">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Valor" formControlName="amount">
        @if (form.get('amount')?.invalid) {
          <mat-error>{{errorMessage('amount')}}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="type">
          <mat-option value="CREDIT">Entrada</mat-option>
          <mat-option value="DEBIT">Saída</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Empresa</mat-label>
        <mat-select formControlName="company">
          <mat-option value="MADRID" selected>MADRID</mat-option>
          <mat-option value="GALTEC">GALTEC</mat-option>
          <mat-option value="INFRAER">INFRAER</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Data</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="Data" formControlName="eventDate">
        <mat-hint>DD/MM/AAAA</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
    <button mat-raised-button (click)="onCancel()">Cancelar</button>
  </mat-card-actions>

</mat-card>
